<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form action="/user" method="post">
        <label>First Name</label>
        <input type="text" required name="name"/><br/><br/>
        <label>Email : </label>
        <input type="email" required name="email"/><br/><br/>
        <label>Password</label>
        <input type="text" required name="password"/><br/><br/>
        <button type="submit" >Sign Up</button>
    </form>
</body>
</html>